INNGEST_EVENT_KEY=<https://www.inngest.com/docs/events/creating-an-event-key>
INNGEST_SIGNING_KEY=<https://www.inngest.com/docs/platform/signing-keys>
OPENAI_API_KEY=xxxxxxxxx
# POSTGRES_URL=
# POSTGRES_PRISMA_URL=
# POSTGRES_URL_NON_POOLING=
# POSTGRES_USER=
# POSTGRES_HOST=
# POSTGRES_PASSWORD=
# POSTGRES_DATABASE=